html,
body,
.library {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  font-size: 11pt;
  margin: 0 auto;
  max-width: 800px;
  padding: 8px;
  width: 100%;
}

.query-container {
  height: 60px;
}

.content {
  flex: 1;
  overflow-y: auto;
}
