body {
  font-family: Roboto, sans-serif;
  font-size: 10pt;
  background: $color-body-background;
}

h2 {
  margin: 16px 16px 4px 16px;
  font-size: 14pt;
}

h3 {
  margin: 0 16px;
  font-weight: normal;
}

.tooltip {
  width: 100%;
  margin: 0;
  padding: 8px;
  color: $color-text-dark;
}

.lite-app-category {
  display: block;
  padding: 8px 0;
  margin: 0;
}

.lite-app-category-count {
  float: right;
  line-height: 26px;
  margin-right: 8px;
}

.lite-app-icon {
  background: white;
  border-radius: 8px;
  margin: 0 4px 8px 4px;
  padding: 4px;
  display: inline-block;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  vertical-align: top;

  a:link,
  a:visited {
    text-decoration: none;
    color: $color-text-dark;
  }

  p {
    font-size: 10pt;
    margin: 0 8px 4px 8px;
    width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.lite-app-icon-image {
  width: 56px;
  height: 56px;
  margin: 8px;
}

.update-required {
  display: none;
  // Default hidden. Shown if version is too old.
  background: #fff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  text-align: center;

  p {
    margin: 32px 0;
  }

}

.query {
  background: white;
  width: 100%;
  font-size: 12pt;
  border-radius: 24px;
  border: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 24px;

  &:focus {
    outline: none;
  }

}
