.main {
  background-color: $color-body-background;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  box-shadow:0 0 24px rgba(0,0,0,0.5);
}

.query-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  background-color: $color-body-background;
  padding: 8px;
}

.content {
  overflow-y: auto;
}

.lite-app-category {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
