html,
body,
.main {
  height: 100%;
}

.main {
  background-color: $color-body-background;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  box-shadow:0 0 24px rgba(0,0,0,0.5);
}

.query-container {
  height: 52px;
  background-color: $color-text-light;
  padding: 8px;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.lite-app-category {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
