@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter', sans-serif; }
}

body {
  font-family: Inter, sans-serif;
  font-size: 10pt;
  background-color: #444;
}

h2 {
  margin: 16px 24px 4px 24px;
  font-size: 18pt;
  font-family: Montserrat;
  font-weight: 600;
  color: $color-text-white;
}

h3 {
  margin: 0 24px;
  font-weight: normal;
  color: $color-text-white;
}

.tooltip {
  width: 100%;
  margin: 0;
  padding: 8px;
  color: $color-text-dark;
}

.lite-app-category {
  padding: 8px;
  margin: 0;
}

.lite-app-category-count {
  float: right;
  line-height: 32px;
  margin-right: 24px;
}

.lite-app-icon {
  background: $color-background-dark;
  border-radius: 8px;
  margin: 0 8px 8px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  a:link,
  a:visited {
    text-decoration: none;
    color: $color-text-dark;
  }
}

.lite-app-icon-image {
  width: 56px;
  height: 56px;
  margin: 8px;
}

.lite-app-icon-name {
  font-size: 12pt;
  margin: 12px 4px;
  overflow: hidden;
  width: 100px;
  max-width: 100px;
  display: inline-block;
  vertical-align: top;
  color: $color-text-white;
}

.update-required {
  display: none;
  // Default hidden. Shown if version is too old.
  background: #fff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  text-align: center;

  p {
    margin: 32px 0;
  }

}

.query {
  background: white;
  width: 100%;
  font-size: 10pt;
  font-family: Montserrat;
  font-weight: 600;
  border-radius: 24px;
  border: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 24px;

  &:focus {
    outline: none;
  }
}
