// Colors
$color-header-footer: #222;
$color-primary-text: #E17E00;
$color-primary: #fe7a4d;
$color-text-dark: #666;
$color-text-light: #999;
$color-text-white: #fff;
$color-background-dark: #333;
$color-body-background: #000;
$color-link: #0070c9;

// Layout
$padding-standard: 32px;
$break-medium: 600px;

// Common values
$border-radius-standard: 8px;
$padding-standard: 16px;
$width-limit: 828px;
