// Colors
$color-header-footer: #222;
$color-primary-text: #E17E00;
$color-primary: #fe7a4d;
$color-primary-dark: #EE5332;
$color-text-dark: #333;
$color-text-light: #666;
$color-text-white: #fff;
$color-background-dark: #333;
$color-body-background: #eee;
$color-highlighted-background: #fafafa;
$color-link: #4286f4;

// Layout
$padding-double: 32px;
$padding-standard: 16px;
$padding-half: 8px;
$padding-quarter: 4px;

$break-medium: 600px;

// Common values
$border-radius-standard: 8px;
$width-limit: 828px;
